@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --basepurple: rgb(102, 34, 166);
    --darkerpurple: rgb(73, 19, 124);
    --evenlighterpurple: rgb(234, 218, 251);
    --lighterpurple: rgb(231, 206, 255);
    --lighterpurpleHover: rgb(213, 167, 255);
    --lighterpurpleClicked: rgb(194, 130, 255);
}


body{
    background-color: rgb(30, 30, 30);
    font-family: "PT Sans", sans-serif;
}

html,body{
    user-select: none;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.purp-cont{
    margin: auto;
    border-radius: 5px;
    width: 320px;
    padding: 10px;
    background-color: var(--basepurple);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

h1{
    margin: auto;
    color:aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 750;
    font-style: normal;
}


form span{
    display: block;
    margin: 5px 0;
}

/*make form styling consistent across browsers*/
button, input, select, textarea {
    font-weight: 500; 
    font-size: 15px;
}

.att-btn{
    background-color: var(--lighterpurple);
    width: 320px;
    height: 40px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 5px;
    outline: 0;
}

.att-btn:hover{
    background-color: var(--lighterpurpleClicked);
}
.att-btn:active{
    background-color: var(--lighterpurpleClicked);
}

#add-attendance{
    width: 320px;
}

/* Assuming your form has a parent container with a defined width */
form {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: wrap;
  width: 320px;
  margin: 0 auto; /* Center horizontally */
  user-select: none;
  gap: 0 10px;
}

form span{
  flex-grow: 1;
  display: flex;
}

form select {
 flex-grow: 1;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  background-color: var(--lighterpurple);
  border: 0;
}

#courses-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 10px auto;
    gap: 5px 5px;
    user-select: none;
}

#courses-count{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 15px auto;
    gap: 10px 5px;
    user-select: none;
}

#courses-list li{
    padding: 15px 30px;
    border-radius: 5px;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background-color: var(--lighterpurple);
}

.cc-cont{
    padding: 10px 30px;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background-color: var(--lighterpurple);
}

.cc-cont label{
    text-align: center;
}

.cc-cont input{
    background-color:var(--lighterpurpleHover);
    padding: 5px;
    width: 50px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    user-select:none; 
}

#display-grapher{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 15px auto;
    gap: 5px;
}

#grapher{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 15px auto;
    gap: 5px;
}

.graph-ele{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #ff9ea3;
    position: relative;
}

.graph-ratio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.graph-fill{
    width: 0px;
    height: 30px;
    border-radius: 5px;
    background-color: #74ff82;
}

.contoftwo{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: var(--lighterpurple);
    height: 30px;
}

.det-view{
    width: 300px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--darkerpurple);
    display: flex;
    flex-direction: column;
}

.marked-cal{
    width: 250px;
    padding: 5px 5px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: var(--lighterpurple);
    display: flex;
    flex-direction: column;
}

#mark-month{
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px auto;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: var(--lighterpurple);
    border: 0;
}

#mark-days{
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.mark-cell{
    border-radius: 5px;
    font-size: 15px;
    height: 25px;
    width: 25px;
    text-align: center;
    color: aliceblue;
}

.pres-cell{
    background-color: #06540d;
}

.abs-cell{
    background-color: #690118;
}

.graphtitle{
    height: 30px;
    text-align: center;
    width: 40px;
}

.graphstat{
    height: 30px;
    text-align: center;
    width: 60px;
}



.graphtitle, .graph-ratio{
  font-family: "Shadows Into Light", cursive;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.graphstat{
  font-family: "Shadows Into Light", cursive;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

.input-task{
    
    margin: 5px auto;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    resize: none;
    font-family: "Shadows Into Light", cursive;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    width: 300px;
    max-width: 320px;
}

.taskDisp-cont{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 10px auto;
    gap: 5px 5px;
    user-select: none;
}

.taskDisp-cont li{
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    width: 320px;
    font-family: "Shadows Into Light", cursive;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background-color: var(--lighterpurple);
}
